body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  color: #fff;
  height: 120vh;
  width: 100%;
  opacity: 1;
}

.container {
  text-align: center;
  margin-top: 6vh;
  opacity: 0;
  transition: opacity 1.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.fadeIn {
  opacity: 1;
}

.list-container {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 15px;
  height: 60vh;
  margin-bottom: 40px;
}

.title {
  font-size: 4vh;
  margin-bottom: 20px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2vh, 1fr));
  gap: 40px;
  padding: 10px;
  font-size: 3.5vh;
}

.item {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  font-size: 3vh;
  color: #fff;
  display: flex;
  height: 20vh;
  align-items: center;
}

.item input[type="checkbox"] {
  margin-right: 10px;
  font-size: 3vh;
}

.buttons {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 20px;
}

button {
  padding: 7px 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 1.8vh;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: transparent;
}