body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  color: #fff;
  height: 100vh;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.top-info {
  margin-bottom: 0px;
}

form {
  width: 100%;
  margin-bottom: 5px;
  font-family: 'Helvetica';
}

h1 {
  font-size: 4vh;
  margin-top: 4vh;
  font-family: 'Helvetica';
  margin-bottom: 3vh;
}

input[type="text"],
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  font-family: 'Helvetica';
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 2.2vh;
  transition: background-color 0.3s ease;
}

input[type="text"]:hover,
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus {
  outline: none;
  color: black;
}

#itemInput,
#quantityInput,
#unitInput,
#addItemBtn {
  width: 80%;
  margin-bottom: 5px;
  margin-left: 9.2vw;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(152, 212, 255, 0.5);
}

.item-container {
  width: 80%;
  min-height: 40vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  font-size: 2.4vh;
  font-family: Helvetica;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons button {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
