body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4vh;
  margin: 4vh 0;
  text-align: center;
}

#statsContainer {
  margin: 0 auto;
  width: 90%; 
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#chartContainer {
  margin-bottom: 2vh;
  background-color: transparent;
  width: 100%;
  height: auto;
}

#statsDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5vh;
}

.statItem {
  padding: 1vh;
  margin-bottom: 1.5vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-align: left;
}

.statItem span {
  font-weight: bold;
  margin-left: 0px;
}

.buttonContainer {
  text-align: center;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vh;
  flex-wrap: wrap;
}

.buttonContainer button, .buttonContainer a button {
  padding: 1vh 2vh;
  margin: 1vh;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  font-weight: normal;
  border-radius: 8px;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover, .buttonContainer a button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#historyBtn {
  background-color: rgba(255, 255, 255, 0.1);
}

#historyBtn:hover {
  background-color: rgba(52, 152, 219, 1);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5vh;
  }
  .statItem {
    font-size: 1.8vh;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3vh;
  }
  .statItem {
    font-size: 1.6vh;
  }
}
