body {
  margin: 0;
  font-family: 'Roboto';
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 4.2vh;
  text-align: center;
  margin-top: 10px;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 3vh;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.container.fadeIn {
  opacity: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9vh;
}

.menu-button {
  width: 60%;
  max-width: 70%;
  padding: 20px 5vw;
  margin: 7px 0;
  font-size: 2vh;
  font-family: 'Roboto';
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-button:focus {
  outline: 2px solid #fff;
}

.corner-button {
  position: absolute;
  width: 140px;
  height: 40px;
  font-size: 1.5vh;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.corner-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.corner-button:focus {
  outline: 2px solid #fff;
}

.top-left {
  top: 68px;
  left: calc(55% - 300px);
}

.top-right {
  top: 68px;
  right: calc(55% - 300px);
}

.hidden {
  display: none !important;
}

.calendar-preview {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-top: 7vh;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  width: 35%;
  height: 4vh;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.calendar-preview:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.calendar-date {
  font-size: 2.2vh;
  margin-top: -4px;
  font-weight: bold;
}

.calendar-info {
  font-size: 1.2vh;
  margin-top: 0px;
}

.calendar-arrow {
  position: absolute;
  top: 7.5vh;
  font-size: 2vh;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.calendar-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.left-arrow {
  left: calc(38% - 160px); 
}

.right-arrow {
  right: calc(38% - 160px);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0763cddc;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-button:hover {
  transform: scale(1.1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.swap-button {
  background: #ffcc00;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.swap-button:hover {
  background: #e6b800;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Responsividad */
@media (max-width: 768px) {
  h1 {
    font-size: 4vh;
    margin-top: 10vh;
  }

  .container {
    margin-top: 5vh;
  }

  .menu-container {
    margin-top: 7vh;
  }

  .menu-button {
    width: 90%;
    font-size: 2vh;
    padding: 15px 4vw;
  }

  .corner-button {
    width: 100px;
    height: 40px;
    font-size: 1.2vh;
  }

  .corner-button.top-left {
    left: 40px;
  }

  .corner-button.top-right {
    right: 40px;
  }

  .toggle-button {
    font-size: 3vh;
  }

  .calendar-preview {
    width: 150px;
    height: 5vh;
  }

  .calendar-date {
    font-size: 1.8vh;
  }

  .calendar-info {
    font-size: 1vh;
  }

  .calendar-arrow {
    font-size: 1.8vh;
  }

  .top-bar {
    padding: 8px;
  }

  .user-info {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 4vh;
    margin-top: 1vh;
  }

  .container {
    margin-top: 2vh;
  }

  .menu-container {
    margin-top: 12vh;
  }

  .menu-button {
    width: 95%;
    font-size: 1.8vh;
    padding: 20px 5vw;
  }

  .corner-button {
    width: 90px;
    height: 35px;
    font-size: 1.1vh;
  }

  .corner-button.top-left {
    left: 100px;
    top: 125px;
  }

  .corner-button.top-right {
    right: 100px;
    top: 125px;
    
  }

  .toggle-button {
    position: absolute;
    left: 0px;
    font-size: 3.5vh;
  }

  .calendar-preview {
    width: 35%;
    margin-top: 4.2vh;
    height: 4vh;
  }

  .calendar-date {
    font-size: 2vh;
  }

  .calendar-info {
    font-size: 1.4vh;
  }

  .calendar-arrow {
    font-size: 2vh;
    margin-top: -2vh;
  }

  .left-arrow {
    left: calc(54% - 160px); 
  }
  
  .right-arrow {
    right: calc(54% - 160px);
  }

  .top-bar {
    padding: 11px;
  }

  .user-info {
    gap: 10px;
    margin-left: 18vw;
    font-size: 1.4vh;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 3vh;
    margin-top: 7vh;
  }

  .container {
    margin-top: 3vh;
  }

  .menu-container {
    margin-top: 3vh;
  }

  .menu-button {
    width: 100%;
    font-size: 1.4vh;
    padding: 8px 2vw;
  }

  .corner-button {
    width: 80px;
    height: 30px;
    font-size: 1vh;
  }

  .corner-button.top-left {
    left: 10px;
  }

  .corner-button.top-right {
    right: 10px;
  }

  .toggle-button {
    font-size: 3vh;
  }

  .calendar-preview {
    width: 120px;
    height: 7vh;
  }

  .calendar-date {
    font-size: 1.4vh;
  }

  .calendar-info {
    font-size: 1vh;
  }

  .calendar-arrow {
    font-size: 1.4vh;
  }

  .top-bar {
    padding: 4px;
  }

  .user-info {
    gap: 2px;
  }
}
