body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  color: #fff;
  height: 100vh;
  width: 100%;
}

.container {
  text-align: center;
  margin-top: 8vh;
}

.card {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
}

.user-info {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-container {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}
